.nah {
    width: 100px;
    height: 100px;
    background: #000;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}
header {
    display: flex;
    font-size: 30px;
    align-items: center;
    padding: 0 45px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: rgb(33, 10, 55);
} 
h1 {
    flex: 1;
    font-size: 50px;
}
.column {
    height: 540px;
	width: 210px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 30px;
}
.nah1 {
    background-color: rgb(24, 24, 92);
    width: 210px;
    height: 210px;
}
.nah2 {
    width: 210px;
    height: 100px;
    background-color: rgb(16, 97, 29);
}
.wrapper {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 400px;
    gap: 0;
}
body {
    background-color: rgb(33, 10, 55);
    margin: 0;
    padding: 90px 40px 0 40px;
}
.sec {
    margin-right: 0;
}
.group {
    display: flex;
    flex-direction: row;    
    margin-right: 40px;
}
.group_1 *:not(.column) {
    background: #f06;
}
.group_2 *:not(.column) {
    background: rgb(23, 155, 113);
}.group_3 *:not(.column) {
    background: rgb(161, 105, 22);
}
.group_4 *:not(.column) {
    background: rgb(125, 180, 8);
}
.group_5 *:not(.column) {
    background: rgb(196, 23, 38);
}
.group_6 *:not(.column) {
    background: rgb(14, 110, 125);
}